@use "src/assets/css/breakpoints.scss";

.wrapper {
  width: 100%;
  height: calc(100vh - 80px);
  padding: 35px 60px 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 28px;
  color: var(--light-gold);
}

.dealsWrapper {
  flex-grow: 1;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 10px;
}

.searchPanel {
  padding: 15px 0;
  display: flex;
  gap: 25px;
}

input {
  height: 30px;
}

input:focus {
  outline-color: var(--light-gold);
}

@media only screen and (max-width: breakpoints.$extra-medium) {
  .dealsWrapper {
    grid-template: auto / auto;
  }

  .wrapper {
    padding: 35px 30px 10px;
  }
}
