@use "src/assets/css/breakpoints.scss";

.landingWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 80px);
  background:
    linear-gradient(rgba(0 0 0 / 60%), rgba(0 0 0 / 60%)),
    no-repeat url("@assets/img/landing-background.jpg");
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: var(--white);
  text-align: center;
}

.description {
  font-weight: 400;
  font-size: 24px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: var(--white);
  max-width: 50%;
  text-align: center;
  margin-bottom: 15px;
}

.getStartedBtn {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

@media only screen and (max-width: breakpoints.$large) {
  .title {
    font-size: 54px;
  }

  .description {
    font-size: 18px;
    max-width: 60%;
  }
}

@media only screen and (max-width: breakpoints.$medium) {
  .title {
    font-size: 34px;
  }

  .description {
    font-size: 16px;
    max-width: 70%;
  }
}

@media only screen and (max-width: breakpoints.$small) {
  .title {
    font-size: 24px;
  }

  .description {
    font-size: 14px;
    max-width: 90%;
  }
}
